* {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  padding-bottom: 80px;
}

.i-perfil, .i-menu{
    font-size: 10rem;
}

.text-roboto {
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
}

